.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  background-color: rgb(33, 150, 243);
  color: white;
  border-radius: 40px;
  width: 80px;
  height: 80px;
  padding: 14px;
  margin: 0 auto;
  font-size: 10px;
}
